@import "~normalize.css";
@import "poppins.css";

body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 2rem;
  color: white;
  background: rgb(218, 41, 124);
}

.logo {
  width: 600px;
  height: 350px;
  background-image: url("../assets/attractive-beautiful-woman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
